.index_container-left:hover,
.index-container-middle:hover,
.index-container-right:hover {
  box-shadow: 0px 7px 10px #ffad77;
}

.index-container-middle {
  width: 50%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0f3;
  margin: 10px;
}

.index_container-left,
.index-container-right {
  width: 25%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0f3;
  margin: 10px;
  height: 100%;
  max-height: 100%;
}

.update-features-box {
  background-color: #ffffff;
  color: #333333;
  padding: 0.8rem;
  border-radius: 25px;
  font-size: 2rem;
  margin-top: 1.1rem;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-size: 18px;
  border: none;
}

.update-features-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px #FFAD77;
}

.btn-options-box {
  color: #333333;
  padding: 7px 15px;
  border-radius: 25px;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-size: 14px;
}

.btn-options-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(125, 125, 125, 0.956);
}

.btn-background-available {
  background-color: #FFAD77;
}

.btn-background-unavailable {
  background-color: #979797;
}

.btn-options-formula-box {
  background-color: #FFAD77;
  color: #333333;
  padding: 5px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-size: 14px;
}

.btn-options-formula-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px #FFAD77;
}

.feature-options {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0f3;
  margin-top: 10px;
  margin-bottom: 20px;
}

.feature-name {
  padding: 5px;
  border-bottom: 1px solid black;
}

.age-box {
  padding: 5px;
  display: flex;
}

.filter-age {
  display: flex;
  display: relative;
  border-top-left-radius:  15px;
  border-bottom-left-radius: 15px;
  margin-left: 10px;
}

.filter-age-years {
  display: absolute;
  right: 1px;
  left: 1px;
  margin-right: 10px;
  height: 100%;
  padding: 5px;
  background-color: rgb(29, 156, 35);
  color: white;
}

.bold-h2-filters {
  font-weight: 600;
  text-align: center;
}
