      <div class="card_edit">
        <h2 class="card-title_edit">Prospects</h2>
        <ul class="card-list_edit">
          <% @research.options.each do |option| %>
            <li class="card-item_edit"><%= option.value %></li>
          <% end %>
        </ul>
        <%= link_to "Select", research_path(@research), class: "select-button_edit" %>
      </div>
