  <div class="card mb-2">
    <img src=${element.Poster} class="card-img-top" alt=${element.Title}>
    <div class="card-body">
      <span class="badge bg-primary mb-2">${element.Year}</span>
      <h5 class="card-title">${element.Title}</h5>
    </div>
  </div>
