<div class="main-container_edit">
  <div class="title-section_edit">
    <h1 class="main-title_edit">Choose your composition</h1>
  </div>
  <div class="cards-container_edit">
    <%= render 'researches/card_formula' %>
  </div>
</div>
