<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="my-4">Your Databases :</h1>
  </div>
  
  <% @items.each do |item| %>
    <div class="border p-3 rounded shadow position-relative mb-4">
      <a href="#" class="btn btn-primary position-absolute top-0 end-1 mt-3" style="right: 30px;">Access Content</a>
      <h2 class="mb-3">Database: <%= item.feature.title %></h2>
      <div class="overflow-auto">
        <ul class="list-group list-group-horizontal">
        </ul>
      </div>
    </div>
  <% end %>
</div>
