<script src="<%= asset_path('countup.js') %>"></script>
 <div class="globaldashboard">
  <div class="dashboardtop">
    <div class="top-button">Your database</div>
    <div class="top-button"><%= link_to "nouevlle base de ndonnées", "/researches", class: "left-box", data: { turbo_method: :post} %></div>
    <div class="top-button">Your profile</div>
  </div>
  <div class="dashboardbottom">
    <div class="left-bot-card">
      <h2>Total Prospects</h2>
      <p class="center-text-left-card">You've generated</p>
      <div class="countup" id="countup">0</div>
      <p class="center-text-left-card" id="prospects-bold">PROSPECTS</p>
    </div>
    <div class="middle-bot-card">
      <h2>Our Updates :</h2>
      <div class="update-box">Update n°1</div>
      <div class="update-box">Update n°2</div>
    </div>
    <div class="right-bot-card">
      <h2>Top Prospects Cities</h2>
    </div>
  </div>
</div>
