 <div class="globaldashboard">

    <div class="dashboardleft">
      <div class="left-box">Vos bases de données</div>
      <%= link_to "nouevlle base de ndonnées", "/researches", class: "left-box", data: { turbo_method: :post} %>
      <div class="left-box">Votre profil</div>
    </div>

    <div class="dashboardright">
      <div class="right-top-dashboard">
        <h2>Vos mises à jour</h2>
        <div class="update-box">mise à jour n°1</div>
        <div class="update-box">mise à jour n°2</div>
      </div>
      <div class="right-bottom-dashboard">
        <h2>Quick Access :</h2>
        <!-- Contenu Quick Access ici -->
      </div>
    </div>

  </div>
</body>
</html>
