<%= simple_form_for [@research, @filter], html: { data: {age_target: "form"}}, class: "age-box"  do |f| %>
  <%= f.input :min, as: :integer, input_html: { value: 18, min: 18 } %>
  <span>to</span>
  <%= f.input :max, as: :integer, input_html: { value: 75, max: 75 } %>
  <%= f.button :submit,
               "button",
               class: "btnage",
               data: {
                action: "click->age#ageSelect"
                } %>
<% end %>

 <%# url: research_toggle_path(@research) %>
