<div class="filters-display">
  <%= render 'filters/filters_content_options', research: @research, grouped_options: @grouped_options %>
  <%= render 'filters/filters_content_age' %>
  <%= render 'filters/filters_content_button' %>
</div>
