<h1>Filters#index</h1>

<div class="index-container d-flex" data-controller="options">
  <div class="index-container-left w-75">
      <%= render 'filters/form_filter' %>
  </div>
  <div class="index-container-right w-25 p-2 border h-auto m-2">
    <h2>Vos features/options</h2>
      <%= render 'filters/filters_content', research: @research, grouped_options: @grouped_options %>
  </div>
</div>
